.container {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(4, 4, 9, 0.705), rgba(22, 20, 31, 0.7)),
    url("../../../assets/hero/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;

  a {
    width: fit-content;
    align-self: center;
  }

  button {
    background-color: rgb(4, 4, 24);
    border: none;
    transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    text-decoration: none;
    color: #fff;
    border-radius: 6.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 1.125rem 1.5rem;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  button:hover {
    transform: scale(1.05);
  }

  button:active {
    transform: translateY(2px);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  }
}

.description {
  width: 60%;
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.descriptionContainer {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  justify-self: center;
  width: 60%;
}

.title {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: 900;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.description {
  font-size: clamp(1.125rem, 4vw, 2.5rem);

  margin-bottom: 3.25rem;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}



