.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.1s, box-shadow 0.1s;
}

.scrolled {
  background-color: #2e2c2c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative; /* For positioning context */
}

.navbarHeader {
  display: flex;
  align-items: center;
  width: 100%;
}

.navbarBrand {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-decoration: none;
  color: #fff;
  margin-right: 2rem;
}

.navbarBrand img {
  margin-right: 0.5rem;
}

.navbarToggle {
  display: none;
  background: none;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
}

.collapse {
  display: flex;
  align-items: center;
  position: relative;
}

.navbarNav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem {
  margin-left: 1rem;
}

.navItem a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
  transition: color 0.3s;
  font-weight: 400;
}

.navItem a:hover {
  color: #78b7f6;
}

@media (max-width: 680px) {
  .navbarToggle {
    display: block;
  }
  .collapse {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;

    left: 0;
    background-color: #140e0e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 999;
  }
  .navbarMainCollapseOpen {
    display: block;
  }

  .navbar {
    background-color: #130e0e;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .navbarNav {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .navItem {
    width: auto;
    margin: 0;
  }
  .navItem a {
    width: 100%;
    padding: 1rem 2rem;
  }
}
