:root {
    --color-text: #fff;
    /* --color-primary: #576cbc; */
    --color-primary: #9c3a91;
    /* --color-secondary: #19376d; */
    --color-secondary: #300626;
    /* --color-dark: #0b2447; */
    --color-dark: #1d0421;
    /* --color-bg: #04152d; */
    --color-bg: #260b22;

    --font-roboto: "Alice"

}